.nav-text-link:hover {
  border: none;
}

img {
  width: 100%;
  /* max-width: 1000px; */
  height: auto;
}

.week-avatar-img {
  width: 100px;
}

pre {
  display: block;
  padding: 1rem;
  font-family: monospace;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  margin: 1em 0;
  background-color: #eeeeee;
}

.carousel-item > img {
  height: 100%;
  width: 100%;
}

img.avatar {
  max-width: 220px;
}

.w-5 {
  width: 3rem;
}
.w-10 {
  width: 10rem;
}

.w-15 {
  width: 15rem;
}
